.container {
    padding:  0 10pt;
    max-width: 500px;
    margin: 3em auto;
}

#header {
    text-align: center;
    margin: 0 auto;
}

#body div{
    margin: 1em auto;
    text-align: center;
    padding: 1em;
    border: 2px solid #85d32c;
    border-radius: 1em;
    background-color: #eeffda;
}