@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Staatliches&display=swap");
@media (min-width: 1170px) {
    .container {
        margin-top: 10%;
        width: 900px;
        margin: 0 auto;
    }
}

a.link-personalizado {
    padding: 0.25em;
    font-weight: bold;
    color: #077779;
  
    &:hover {
      text-shadow: 1px 2px 3px #289ea0;
    }
}