@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Staatliches&display=swap");
@media (min-width: 1170px) {
    .container {
        margin-top: 10%;
        width: 900px;
        margin: 0 auto;
    }
}